.profile__personal-data {
	width: fit-content;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

@media screen and (max-width: 767px) {
	.profile__personal-data {
		min-width: 189px;
		margin: 26px auto 0;
	}
}