.footer__copyright {
  color: #545454;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    width: calc(100% - 2 * 19px);
    font-size: 14px;
    line-height: 17px;
  }
}