.card__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  border: 0;
  background-color: #ffffff;
  padding-bottom: 3px;
}

.card__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}