.popup__card-add {
  background-color: #ffffff;
  width: 430px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__card-add {
    width: 100%;
  }  
}