.profile__edit-btn {
	align-self: flex-end;
	background-image: url(../../../images/Edit\ Button.svg);
	width: 24px;
	height: 24px;
	border: 0;
	background-color: #000000;
	background-size: contain;
	background-repeat: no-repeat;
	align-self: flex-end;
}

@media screen and (max-width: 767px) {
	.profile__edit-btn {
		width: 18px;
		height: 18px;
	}
}