.card__block {
  min-height: 79px;
  margin: 0 15px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .card__block {

  }  
}