.profile__personal-data {
	width: fit-content;
	max-height: 73px;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

@media screen and (max-width: 767px) {
	.profile__personal-data {
		margin-top: 22.25px;
		min-width: 189px;
		margin: 0 auto;
	}
}