.popup__profile-edit {
  background-color: #ffffff;
  width: 430px;
  height: fit-content;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__profile-edit {
    width: 100%;
    margin: 0;
  }  
}